.clsPlaylistGoodVibes3 {
    color: #A1A4B2;
    text-align: center;
    margin-top: 3vh;
    width: 42.5vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.clsDivFrame {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clsArticleFrameSet {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
}

.clsArticleSearchResultMeditations {
    display: grid;
    grid-template-columns: 25px 1fr 25px;
}

.clsSearchMeditationItems {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 20vh;
    gap: 9px;
}

.clsMeditationItemsImage {
    height: 30vh;
    width: 37vw;
    border-radius: 10px;
    object-fit: cover;
}

.clsMeditationItems {
    position: relative;
}

.pMeditationtems1,
.pMeditationItems2 {

    color: #4a503d;
    margin-left: 1px;

}

.pMeditationtems1 {
    position: absolute;
    top: 150px;
    left: 10px;
    color: #ffff;
    font-weight: 800;
}

.pMeditationItems2 {
    position: absolute;
    top: 170px;
    left: 10px;
    color: #ffff;
    font-weight: 800;
}

.clsCtructurMeditate {
    display: grid;
    grid-template-columns: 10px 1fr 10px;

}


.searchArticleMeditate {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    margin-top: 1.5vh;
}

.clsSearchField {
    border: 1px solid lightgrey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
}

article.searchArticleMeditate>div.clsSearchField>input[type=text] {
    width: 92%;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: gray;
    font-size: 1.1rem;
}

.searchicon {
    height: 23px;
    width: 23px;

}

article.searchArticleMeditate>div.clsSearchField>input[type=text]:focus,
article.searchArticleMeditate>div.clsSearchField>input[type=text]:focus {
    outline: none;
}

.clsMeditationItemsImage:hover{
    border: 3px solid #e28f83;
}

@media screen and (max-width: 600px) {
    .clsIframMeditateSong {

        width: 87%;
    }
}

@media only screen and (min-width: 912px) {
    .clsCtructurMeditateDivContent{
    max-width: 390px;
    }
    .clsMeditationItemsImage{
      width: 100%;  
    }
}