.clsGreetingProfile {
    color: #4a503d;
    font-family: 'Source Sans Pro', sans-serif;
    ;
    font-size: 1.8rem;
}

.clsWishesProfile {
    color: #A1A4B2;
    font-family: 'Source Sans Pro', sans-serif;
}

.clsGreentingAndWishesProfile {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
}

.clsProfileTop {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
}

.clsProfileTopYogaAndMeditation {
    display: flex;

    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    /* width: 90%; */
    margin-top: 2vh;

}

.clsRandomYogaImg {
    border-radius: 10px;
    height: 30vh;
    width: 40vw;
    cursor: pointer;
    object-fit: cover;
}

.clsRandomYogaImg:hover {
    border: 3px solid #e28f83;
}


.clsDivLeftTopProfileYoga {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #FFECCC;
}

.clsRandomMeditationImg {
    border-radius: 10px;
    height: 30vh;
    width: 40vw;
    cursor: pointer;
    object-fit: cover;
}

.clsRandomMeditationImg:hover {
    border: 3px solid #e28f83;
}

.clsDivRightTopProfileMeditation {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #FFECCC;
}

.clsGreentingAndWishesProfile {
    margin-left: 8vw;
    margin-top: 5vh;
}

.clsAnchorYoga,
.clsAnchorMeditation {
    text-decoration: none;
}

.clsProfileParagraph1,
.clsProfileParagraph2 {
    position: absolute;
    font-weight: 800;
}

.clsProfileParagraph1 {
    margin-top: 13vh;
    margin-left: 2vw;
}

.clsProfileParagraph2 {
    margin-top: 18vh;
    margin-left: 2vw;
}

.clsProfileBtnStart1 {
    position: absolute;
    height: 5vh;
    width: 22vw;
    margin-top: 24vh;
    margin-left: 17vw;
    border-radius: 20px;
    background-color: #faf2da;
    border: 1px solid #faf2da;
    color: #4a503d;
    cursor: pointer;
}

.clsProfileBtnStart2 {
    position: absolute;
    height: 5vh;
    width: 22vw;
    margin-top: 24vh;
    margin-left: 17vw;
    border-radius: 20px;
    background-color: #4a503d;
    border: 1px solid #4a503d;
    color: #faf2da;
    cursor: pointer;
}

.clsProfileBtnStart1:hover,
.clsProfileBtnStart2:hover {
    border: 3px solid #e28f83;
}

.searchArticleProfile {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    margin-top: 3.5vh;
}

.clsSearchField {
    border: 1px solid lightgrey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
}

.clsSearchField:hover {
    border: 2px solid #e28f83;
}

article.searchArticleProfile>div.clsSearchField>input[type=text] {
    width: 92%;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: gray;
    font-size: 1.1rem;
}

.searchicon {
    height: 23px;
    width: 23px;
    margin-right: 1.5vw;
}

article.searchArticleProfile>div.clsSearchField>input[type=text]:focus,
article.searchArticleProfile>div.clsSearchField>input[type=text]:focus {
    outline: none;
}

.clsArticleRecommendedYoga {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
}

.clsRecommendedFourYogaPrograms {
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}

.clsRecommendedYogaItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2vh;
    gap: 5px;
    text-decoration: none;
}

.clsRecommendedYogaProgramsLinks {
    text-decoration: none;
}

.clsYogaItemsImage {
    object-fit: cover;
    border-radius: 10px;
    height: 14vh;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}

.clsYogaItemsImage:hover {
    border: 3px solid #e28f83;
}

#root>main>structure>article.clsArticleRecommendedYoga>div:nth-child(2)>h2 {
    margin-top: 2vh;
}

.pYogaItems1 {
    color: #4a503d;
    margin-left: 1px;
}

.pYogaItems2 {
    color: #A1A4B2;
    margin-left: 1px;
}

article:nth-child(6)>div.clsRecommendedFourYogaPrograms>div {
    min-height: 30vh;
}

#idRecommendMeditation {
    min-height: 47vh;
}


.clsWishesProfile {
    margin-top: 2vh;
}

.clsUserNameToBold {
    font-weight: 800;
}

.clsProfilePicture {
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

.clsProfileNameAndImage {

    display: flex;
    /* justify-items: baseline; */
    align-items: center;
    gap: 3vw;
}

.clsProfilePicture {}

.clsArticleAppointments {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    height: 50vh;
    margin-left: 8vw;
    margin-bottom: 10vh;
    margin-top: 2vh;
}

.reminderItemsInProfile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1vh;
    grid-gap: 3px;
    justify-items: center;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.clsAppointmentsItems>h2 {
    margin-bottom: 2vh;
}

.clsAppointmentsItems {
    width: 90%;
}

.reminderItemLeft,
.reminderItemRight {
    width: 30vw;
    padding: 10px;

}

/*text-decoration: none;*/

@media only screen and (min-width: 912px) {
    .clsArticleAppointments {
    margin-left: 2vw;
    }
    .reminderItemsInProfile {
        display: flex;
        max-width: 340px;
    }
    .clsGreentingAndWishesProfile {
        margin-left: 3vw;
    }
    .clsProfileNameAndImage {
        gap: 1vw;
    }  
    .clsAppointmentsItems>h2 {
        margin-bottom: 2vh;
        margin-top: 2vh;
        margin-left: 3px;
    }  
}