.clsNavYogaParent {
    display: grid;
    /*position: fixed;*/
    /* bottom: 0; */
    margin-top: 1.5vh;
    right: 0;
    left: 0;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #ffff;
}

.clsAllNavItem,
.clsFavoritesNavItem,
.clsAnxiousNavItem,
.clsSleepNavItem,
.clsKidsNavItem {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}


.clsAllNavItem a>img,
.clsAnxiousNavItem a>img,
.clsSleepNavItem a>img,
.clsKidsNavItem a>img {
    height: 70px;
    width: 50px;
}

.clsFavoritesNavItem a>img {
    height: 70px;
    width: 59px;
}

.clsNavFooterItemImg {
    object-fit: cover;
}

/*
#root>main>structure>div:nth-child(2)>nav>div.clsFavoritesNavItem>a>img:hover {
    border: 2px solid #8E9775;
    border-radius: 30px;
}*/