.clsLogo {
    margin: 1.5rem 0 1rem;

    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #4a503d;
    font-size: 1.5rem;
    text-align: center;
}

.clsAnchorHeader {
    text-decoration: none;
    cursor: pointer;
}

.clsReminderQuestion {
    font-family: 'Source Sans Pro', sans-serif;
    color: #4a503d;
}

.clsWhatTheyRecommend {
    color: #A1A4B2;
    font-family: 'Source Sans Pro', sans-serif;
}