@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.clsHeaderWelcomePage {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 3vh;
}

.clsArticleWelcome {
    display: grid;
    grid-template-columns: 1fr;

}

.clsHeroSectionBuildWelcomeImg {
    width: 100%;
    object-fit: cover;
    max-height: 78vh;
}

.clsParaWelcomePage {
    margin-top: 3vh;
    color: #fff;
    text-align: center;
}

.clsBtnGetStartet {
    background-color: #E28F83;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 45px;
    border-radius: 20px;
    border: none;
    margin-top: 3vh;
    color: #FAF2DA;
}

.clsBtnGetStartet :hover {
    background-color: #e28f83f2;
    font-weight: 600;
}

.clsBtnGetStartet:hover {
    background-color: #e28f83f2;
    font-weight: 600;
}

.clsWelcomeButtom {
    color: #A1A4B2;
    margin-top: 3vh;
    text-align: center;
}

.clsAnchorWelcomePage {
    color: #E28F83;
    text-decoration: none;
}



.clsLogoWelcome {
    margin: 1.5rem 0 1rem;
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;

    position: absolute;
    justify-self: center;
    z-index: 1;

}

.clsWelcomeGreeting {
    color: #ffff;
    left: 5%;
    position: absolute;
    top: 15%;
    width: 40%;
    font-size: 1.6rem;
}