.clsPlaylistGoodVibes3 {
    color: #A1A4B2;
    text-align: center;
    margin-top: 3vh;
    width: 71.5vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.clsDivFrame {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clsArticleFrameSet {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
}

.clsArticleSearchResultYogas {
    display: grid;
    grid-template-columns: 25px 1fr 25px;
}

.clsSearchYogaItems {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 20vh;
    gap: 9px;
}

.clsYogaItemsImageInYogaComponent {
    height: 30vh;
    width: 37vw;
    border-radius: 10px;
    position: relative;
    object-fit: cover;
}

.clsYogaItemsYogaPage {
    position: relative;
}

.clsYogaItems {
    position: relative;
}

.pYogaItemsYogaPageFromYoga1 {
    position: absolute;
    top: 150px;
    left: 10px;
    color: #ffff;
    font-weight: 800;
}

.pYogaItemsYogaPageFromYoga2 {

    position: absolute;
    top: 170px;
    left: 10px;
    color: #ffff;
    font-weight: 800;

}

.pYogatems1 {
    position: absolute;
    top: 150px;
    left: 10px;
    color: #ffff;
    font-weight: 800;
}

.pYogaItemsYogaPage2 {
    position: absolute;
    top: 170px;
    left: 10px;
    color: #ffff;
    font-weight: 800;
}

.clsCtructurYoga {
    display: grid;
    grid-template-columns: 10px 1fr 10px;

}


.searchArticleYoga {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    margin-top: 1.5vh;
}

.clsSearchField {
    border: 1px solid lightgrey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
}

article.searchArticleYoga>div.clsSearchField>input[type=text] {
    width: 92%;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: gray;
    font-size: 1.1rem;
}

.searchicon {
    height: 23px;
    width: 23px;

}

article.searchArticleYoga>div.clsSearchField>input[type=text]:focus,
article.searchArticleYoga>div.clsSearchField>input[type=text]:focus {
    outline: none;
}

.clsYogaItemsImageInYogaComponent:hover{
    border: 3px solid #e28f83;
}

@media screen and (max-width: 600px) {
    .clsIframYogaSong {

        width: 87%;
    }
}


@media only screen and (min-width: 912px) {
    .clsYogaItemsImageInYogaComponent {
        width: 100%;
    }
    .clsCtructurYogaDivContent{
        max-width: 390px;
        margin-left: auto;
        margin-right: auto;
    }

    .clsPlaylistGoodVibes3 {
    width:20.5vw;
    }
}